@import './shared';
.todo{
    border: 2px solid black;
    text-align: center;
    background: #f5f5f5;
    color:#333;
    margin: 20px;
    padding: 20px;
}

.done{
    background: $todo-complete;
}
.hr{
    border: 2px solid red;
}
.critical{
    border: 2px solid black;
    text-align: center;
    background: $todo-critical;
    color:#333;
    margin: 20px;
    padding: 20px;
    border: 4px dashed red
}